# Pytest cache
.pytest_cache/

# Python bytecode and build artifacts
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
dist/
build/
*.so
.Python
pip-log.txt

# Virtual environments
.venv/
venv/
env/
.env

# IDE
.vscode/
.vscode
